.goverCard {
  transition: transform .2s;
  margin: 0 auto;
}

.goverCard:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}

.intakeCard {
  transition: transform .2s;
  margin: 0 auto;
}

.intakeCard:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}

.ReqCard {
  transition: transform .2s;
  margin: 0 auto;
}

.ReqCard:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}

.archiveCard {
  transition: transform .2s;
  margin: 0 auto;
}

.archiveCard:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}

.decomCard {
  transition: transform .2s;
  margin: 0 auto;
}

.decomCard:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}
.finCard {
  transition: transform .2s;
  margin: 0 auto;
}

.finCard:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}