body {
	margin: 0 auto;
	width: 100%;
	background: #f1f1f1;
	font-family: 'Poppins', sans-serif;
}

.nav-font {
	font-family: 'Poppins', sans-serif;
	color: #494949;
	letter-spacing: 0.5px;
	line-height: 1.75em;
	font-size: 12px;
}

#title {
	color: #fff;
}

.d3s-logo {
	height: 50px;
	margin-top: 10px;
}

.d3s-logo-1 {
	height: 50px;
	margin-top: 60px;
}

.nav-height {
	height: 100px;
}

.nav-height-50 {
	height: 50px;
}

.nav-height-70 {
	height: 70px;
}

.nav-down-height {
	height: 140px;
}

.d3s-mr-10 {
	margin-right: 10px;
}

.d3s-mr-20 {
	margin-right: 20px;
}

.d3s-mr-30 {
	margin-right: 30px;
}

.d3s-mr-40 {
	margin-right: 40px;
}

.d3s-mr-50 {
	margin-right: 50px;
}

.d3s-mr-60 {
	margin-right: 60px;
}

.d3s-mr-70 {
	margin-right: 70px;
}

.d3s-mr-80 {
	margin-right: 80px;
}

.d3s-mr-90 {
	margin-right: 80px;
}

.d3s-mr-100 {
	margin-right: 100px;
}

.d3s-ml-10 {
	margin-left: 10px;
}

.d3s-ml-20 {
	margin-left: 20px;
}

.d3s-ml-30 {
	margin-left: 30px;
}

.d3s-ml-40 {
	margin-left: 40px;
}

.d3s-ml-50 {
	margin-left: 50px;
}

.d3s-ml-60 {
	margin-left: 60px;
}

.d3s-ml-70 {
	margin-left: 70px;
}

.d3s-ml-80 {
	margin-left: 80px;
}

.d3s-ml-90 {
	margin-left: 80px;
}

.d3s-ml-100 {
	margin-left: 100px;
}

.d3s-ml-110 {
	margin-left: 110px;
}

.d3s-ml-10 {
	margin-left: 10px;
}

.d3s-ml-20 {
	margin-left: 20px;
}

.d3s-ml-30 {
	margin-left: 30px;
}

.d3s-ml-40 {
	margin-left: 40px;
}

.d3s-ml-50 {
	margin-left: 50px;
}

.d3s-ml-60 {
	margin-left: 60px;
}

.d3s-ml-70 {
	margin-left: 70px;
}

.d3s-ml-80 {
	margin-left: 80px;
}

.d3s-ml-90 {
	margin-left: 80px;
}

.d3s-ml-100 {
	margin-left: 100px;
}

.d3s-ml-10 {
	margin-left: 10px;
}

.d3s-ml-20 {
	margin-left: 20px;
}

.d3s-ml-30 {
	margin-left: 30px;
}

.d3s-ml-40 {
	margin-left: 40px;
}

.d3s-ml-50 {
	margin-left: 50px;
}

.d3s-ml-60 {
	margin-left: 60px;
}

.d3s-pl-15 {
	padding-left: 15px;
}

.d3s-ml-70 {
	margin-left: 70px;
}

.d3s-ml-80 {
	margin-left: 80px;
}

.d3s-ml-90 {
	margin-left: 80px;
}

.d3s-ml-100 {
	margin-left: 100px;
}

#d3s-mt-10 {
	margin-top: 10px;
}

#d3s-mt-20 {
	margin-top: 20px;
}

#d3s-mt-30 {
	margin-top: 30px;
}

#d3s-mt-40 {
	margin-top: 40px;
}

.d3s-mt-40 {
	margin-top: 40px;
}

#d3s-mt-80 {
	margin-top: 80px;
}

.d3s-mt-75 {
	margin-top: 75px;
}

#d3s-mb-10 {
	margin-bottom: 10px;
}

#d3s-mb-20 {
	margin-bottom: 20px;
}

#d3s-mb-30 {
	margin-bottom: 30px;
}

#d3s-mb-40 {
	margin-bottom: 40px;
}
#container-fluid-margin {
	margin: 0px 20px 0px 20px;
}

#space-evenly {
	padding-right: 20px;
}

#bg-color {
	background-color: #1565c0;
}

.selected {
	background-color: #1565c0;
	color: #fff;
}

#appFilter {
	border: none;
	border-bottom: 1px solid #959595;
	-o-border-image: initial;
	border-image: initial;
	border-radius: 0;
	color: #fff !important;
	text-indent: 12px;
	background-color: transparent !important;
	box-shadow: none;
	height: 28px;
	padding-bottom: 3px;
	width: 240px;
	margin-left: -25px;
}
.selectInput {
	border-bottom: 1px solid #959595;
	color: #fff !important;
	background-color: transparent !important;
}

.dropDown-width {
	width: 200px;
}

.phase-dropDown-width {
	width: 200px;
}

.options {
	color: #000000;
}

.right-side {
	position: absolute;
	right: 12%;
	top: 210px;
	left: 47%;
	z-index: 1;
}

.pull-right {
	float: right !important;
}

#button {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	border: 1px solid #dd6a2c;
	background-color: #dd6a2c;
	color: #fff;
	outline-width: 0;
	font-size: 20px;
	padding: 9px;
	text-align: center;
}

.glyphicon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: Glyphicons Halflings;
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.search-icon {
	position: relative;
    left: 10px;
    bottom: 5px;
    color: #fff;
}

.li-align {
	position: relative;
	bottom: 12px;
}

#textAlign {
	text-align: center;
}

#dropDownMenu {
	margin: 0;
	padding: 0;
	left: -20px;
}

#dropDownMenu>li>a {
	margin: 0;
	padding: 0;
}

.align-right {
	float: right;
}

#accordion-button-clr {
	background-color: #1565c0;
	color: #fff;
}

.btn-export {
	float: right;
	background-color: #31d2f2;
	color: #fff;
	margin-top: -5px;
}

.caret {
	bottom: 35px;
    position: relative;
    color: #1565c0;
}

/* <!-- ========== Data Characteritics for Dashboard ========== --> */


    #chart {
  width: 98%;
  height: 400px;
  /* margin-top:50px; */
  margin-left: 10px;
  display: flex;
    /* padding: 40px; */
}
#chart #numbers {
  height: 100%;
  /* font-weight: bold; */
  width: 50px;
  margin: 0;
  padding: 0;
  display: inline-block;
  float: left;
}
#chart #numbers li:first-child { margin-top:15px;}
#chart #numbers li {
  text-align: right;
  padding-right: 1em;
  list-style: none;
  height: 15px;
  position: relative;
 /*  bottom: 30px; */
}
#chart #numbers li:last-child { height: 18px; }
#chart #numbers li span {
  position: absolute;
  bottom: 0;
  right: 10px;
}
#chart #bars {
  display: inline-block;
  background: #fff;
  width: 600px;
 /*  height: 300px;
  padding: 0;
  margin: 0;
  box-shadow: 0 0 0 0 #444; */
  margin-top: 25px;
}


#chart #bars li {
  display: table-cell;
 /*    padding: 20px; */
  width: 100px;
  height: 300px;
  margin: 0;
  text-align: center;
  position: relative;
}
#chart #bars li .bar {
  display: block;
  width: 40px;
 /*  font-weight:bold; */
  margin-left: 10px;
  background: #486ccc;
  position: absolute;
  bottom: 0;
}
#chart #bars li .bar:hover {
  background: #5AE;
  cursor: pointer;
}
#chart #bars li .bar:hover:before {
  color: #000;
  content: attr(data-percentage);
  position: relative;
  bottom: 20px;
}
#chart #bars li span {
  width: 100%;
  position: absolute;
  bottom: -2em;
  left: 0;
  text-align: center;
}




