
/* Wrapper Is not Needed| Just for demo purpose.  */
.wrapper {
  margin: 30px auto;
  text-align: center;
  width: 100%;
  position: relative;
}

.btn10{
  padding: 5px 50px;
  margin:5px 4px;
  color: #fff;
  text-align: center;
  position: relative;
  text-decoration: none;
  display:inline-block;
 
}

.archeadbutton {
	background-color: #1565c0; 
	border: 2px #80ffd3;
	color: white;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 13.5px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 60px;
	font-weight: 600;
}

.archeadbutton:hover {
	background-color: #20336e;
	color:#80ffd3;
}

.bar-anchor{
  padding: 20px 10px;
  margin:10px 4px;
  color: #fff;
  text-align: center;
  position: relative;
  text-decoration: none;
  display:inline-block;
   overflow:hidden;
 border:1px solid #6098FF; 
}
.bar-anchor span{
  background:#00002E;
  width:100%;
  position:relative;
  padding:10px 70px;
   -moz-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
 border:1px solid #6098FF;  
}
.transition-bar{
    position: absolute;
    top: 0;
    left: 0%;
    width: 0;
    height: 100%;
    background: #80ffd3;
    z-index:-1;
/*     -ms-transform: skewX(-20deg); 
    -webkit-transform: skewX(-20deg); 
    transform: skewX(-20deg); */
}
.bar-anchor:hover span{
  color: #80ffd3!important;
}
.bar-anchor:hover .transition-bar{
  width:120%;
  left:110%;
  -moz-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
}
.transition{
    position: absolute;
    top: -10%;
    left: 0%;
    width: 100%;
    height: 0%;
    background: #80ffd3;
    z-index:-1;
/*     -ms-transform: skewX(-50deg); 
    -webkit-transform: skewX(-50deg); 
    transform: skewX(-50deg); */
}

/* Btn 10  */
.btn10{
    top: 10px;
    font-size: 17px;
    text-transform: !important;
    letter-spacing: 2px;
    color: #fff;
    cursor: hand;
    text-align: center;
    text-transform: capitalize;
    border: 3px solid #1565c0;
    border-radius:50px;
    position: relative;
    overflow: hidden!important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background: transparent!important #00416d;
    z-index:10;
    text: #fff;
}


.btn10:hover{
    border: 1px solid #071982;
	  color: #80ffd3!important;
}
.btn10::before {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #071982;
    position: absolute;
	  -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg); 
    transform: skewX(-20deg);   
    left: -10%;
    opacity: 1;
    top: 0;
    z-index: -12;
    -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
	   box-shadow:2px 0px 14px rgba(0,0,0,.6);
	   
  } 

.btn10::after {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #80ffd3;
    position: absolute;
	-ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg); 
    transform: skewX(-20deg);   
    left: -10%;
    opacity: 0;
    top: 0;
    z-index: -15;
    -webkit-transition: all .94s cubic-bezier(.2,.95,.57,.99);
    -moz-transition: all .4s cubic-bezier(.2,.95,.57,.99);
    -o-transition: all .4s cubic-bezier(.2,.95,.57,.99);
    transition: all .4s cubic-bezier(.2,.95,.57,.99);
    box-shadow: 2px 0px 14px rgba(0,0,0,.6);
}
.btn10:hover::before, .btn1O:hover::before{
	opacity:1;
	width: 116%;
}
.btn10:hover::after, .btn1O:hover::after{
	opacity:1;
	width: 120%;
}
.coloring{
	background-color : #fff;
	font-weight: bold;
	font-color : #fff;
}