@media only screen and (min-width:1000px) and (max-width:1199px) {
	#new_pwd_togglePassword{
		margin-left: 35rem;
	}
}
@media only screen and (min-width:1200px) and (max-width:1399px) {
	#new_pwd_togglePassword{
		margin-left: 35rem;
	}
}
@media only screen and (min-width:1400px) and (max-width:1599px) {
	#new_pwd_togglePassword{
		margin-left: 35rem;		
	}
}
@media only screen and (min-width:1600px) and (max-width:1999px) {
	#new_pwd_togglePassword{
		margin-left: 35rem;		
	}
}
@media only screen and (min-width:2000px) and (max-width:2599px) {
	#new_pwd_togglePassword{
		margin-left: 35rem;
	}
}
@media only screen and (min-width:2600px) and (max-width:3000px) {
	#new_pwd_togglePassword{
		margin-left: 35rem;
	}
}
@media only screen and (min-width:1000px) and (max-width:1199px) {
	#conf_new_pwd_togglePassword{
		margin-left: 30.75rem;
	}
}
@media only screen and (min-width:1200px) and (max-width:1399px) {
	#conf_new_pwd_togglePassword{
		margin-left: 30.75rem;
	}
}
@media only screen and (min-width:1400px) and (max-width:1599px) {
	#conf_new_pwd_togglePassword{
		margin-left: 30.75rem;		
	}
}
@media only screen and (min-width:1600px) and (max-width:1999px) {
	#conf_new_pwd_togglePassword{
		margin-left: 30.75rem;
	}
}
@media only screen and (min-width:2000px) and (max-width:2599px) {
	#conf_new_pwd_togglePassword{
		margin-left: 30.75rem;
	}
}
@media only screen and (min-width:2600px) and (max-width:3000px) {
	#conf_new_pwd_togglePassword{
		margin-left: 30.75rem;
	}
}
@media only screen and (min-width:1000px) and (max-width:1199px) {
	#prev_pwd_togglePassword{
		margin-left: 30.75rem;
	}
}
@media only screen and (min-width:1200px) and (max-width:1399px) {
	#prev_pwd_togglePassword{
		margin-left: 30.75rem;
	}
}
@media only screen and (min-width:1400px) and (max-width:1599px) {
	#prev_pwd_togglePassword{
		margin-left: 30.75rem;		
	}
}
@media only screen and (min-width:1600px) and (max-width:1999px) {
	#prev_pwd_togglePassword{
		margin-left: 30.75rem;
	}
}
@media only screen and (min-width:2000px) and (max-width:2599px) {
	#prev_pwd_togglePassword{
		margin-left: 30.75rem;
	}
}
@media only screen and (min-width:2600px) and (max-width:3000px) {
	#prev_pwd_togglePassword{
		margin-left: 30.75rem;
	}
}