.statusRed {
  height: 25px;
  width: 25px;
  background-color: RGBA(200, 16, 47);
  border-radius: 50%;
  display: inline-block;
}
.statusOrange {
  height: 25px;
  width: 25px;
  background-color: RGBA(255, 153, 0);
  border-radius: 50%;
  display: inline-block;
}
.statusGreen {
  height: 25px;
  width: 25px;
  background-color: RGBA(42, 148, 70);
  border-radius: 50%;
  display: inline-block;
}
table { 
	box-shadow: 5px 5px 5px #999; 
	}