<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form action="http://localhost:8080/onboardTool/Login.jsp" name="testForm" method="post">
    <input type="hidden" id="user_email" name="user_email" th:value="${Email}" />
    <input type="text" id="user_fname" name="user_fname" th:value="${Firstname}" />
    <input type="text" id="user_lname" name="user_lname" th:value="${Lastname}" />
    <input type="text" id="user_group" name="user_group" th:value="${Group}" />

    <script>
    window.onload = function(){
    document.forms['testForm'].submit();
    }
    </script>
</form>

</body>
</html>




