<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form action="" name="testForm" id="testForm" method="post">
    <input type="text" id="user_email" name="user_email" th:value="${Email}" />
    <input type="text" id="user_fname" name="user_fname" th:value="${Firstname}" />
    <input type="text" id="user_lname" name="user_lname" th:value="${Lastname}" />
    <input type="text" id="username" name="username" th:value="${Username}" />
    <input type="hidden" id="url" name="url" th:value="${url}" />
    <input type="text" id="user_group" name="user_group" th:value="${Group}" />

   <script>
      /* $('form').attr('action', '${url}');*/
    window.onload = function(){
        var action_src = document.getElementsByName("url")[0].value;
        var your_form = document.getElementById('testForm');
        your_form.action = action_src ;
    document.forms['testForm'].submit();
    }


    </script>

</form>

</body>
</html>




