<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee; http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>onboard</display-name>
  <servlet>
  	<description>
  	</description>
  	<display-name>Login</display-name>
  	<servlet-name>Login</servlet-name>
  	<servlet-class>Login</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>Login_1</display-name>
  	<servlet-name>Login_1</servlet-name>
  	<servlet-class>Login_1</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ArchiveExecutionResourcesServlet</display-name>
  	<servlet-name>ArchiveExecutionResourcesServlet</servlet-name>
  	<servlet-class>ArchiveExecutionModule.ArchiveExecutionDetails.servlet.ArchiveExecutionResourcesServlet</servlet-class>
  </servlet>
 
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Login_1</servlet-name>
  	<url-pattern>/Login_1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ArchiveExecutionResourcesServlet</servlet-name>
  	<url-pattern>/ArchiveExecutionResourcesServlet</url-pattern>
  </servlet-mapping>
  
  <!-- <servlet-mapping>
  	<servlet-name>dashboardDoughnutServlet</servlet-name>
  	<url-pattern>/dashboardDoughnutServlet</url-pattern>
  </servlet-mapping> -->
  <welcome-file-list>
    <welcome-file>Home.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <description>Location to zstore uploaded file</description>
    <param-name>file-upload</param-name>
    <param-value>
         C:\apache-tomcat-9.0.0.M20\webapps\data\
     </param-value>
  </context-param>
  <context-param>
    <param-name>log4j-config-location</param-name>
    <param-value>WEB-INF/log4j.properties</param-value>
  </context-param>
  <security-constraint>
    <web-resource-collection>
        <web-resource-name>onboardTool</web-resource-name>
        <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
        <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
</security-constraint>
</web-app>